.question{
    text-align: center;
    color: #fff;
    font-size: 40px;
    background: black;
    padding: 100px;
    border-radius: 10px;
    margin-bottom: 20px;

}
.container{
    padding: 0px 20% ;
}
.answer{
    display: flex;
    justify-content: space-between;
}
.answer div{
    width: 300px;
    height: 200px;
    font-size: 30px;
    border-radius: 10px;
    color: seashell;
    text-align: center;
    line-height: 200px;
    
    
}
#yes{
    background-color: red;      
}
#no{
    background-color: rgb(0, 255, 191);
}
